@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #7918f2;
  background: -webkit-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
  background: -o-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
  background: -moz-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
  background: linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}